<header>
  <nav>
    <ul>
      <li>
        <a href="index.html#about">
          <i class="fas fa-user" aria-hidden="true"></i>
          <span data-i18n="nav_about">Sobre mí</span>
        </a>
      </li>
      <li>
        <a href="index.html#experience">
          <i class="fas fa-book" aria-hidden="true"></i>
          <span data-i18n="nav_experience">Experiencia</span>
        </a>
      </li>
      <li>
        <a href="index.html#projects">
          <i class="fas fa-briefcase" aria-hidden="true"></i>
          <span data-i18n="nav_projects">Proyectos</span>
        </a>
      </li>
      <li>
        <a href="index.html#opensource">
          <i class="fab fa-github" aria-hidden="true"></i>
          <span data-i18n="nav_opensource">Open Source</span>
        </a>
      </li>
      <li>
        <a href="blog.html">
          <i class="fas fa-blog" aria-hidden="true"></i>
          <span data-i18n="nav_blog">Blog</span>
        </a>
      </li>
      <li>
        <select id="language-selector" class="custom-select" aria-label="Select Language">
          <option value="es">🇪🇸</option>
          <option value="en">🇺🇸</option>
          <option value="br">🇧🇷</option>
          <option value="ct">🏴</option>
        </select>
      </li>
      <li>
        <button class="theme-toggle" aria-label="Toggle dark mode">
          <i class="fas fa-moon" aria-hidden="true"></i>
        </button>
      </li>
    </ul>
  </nav>
  <div class="header-controls"></div>
</header>

